<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angrave.hw21_webview"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.angrave.hw21_webview.WarActivity"
            android:label="@string/app_name" 
            android:taskAffinity="com.angrave.hw21_webview.WarActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.angrave.hw21_webview.Nasa"
            android:label="@string/title_activity_two"
            android:taskAffinity="com.angrave.hw21_webview.Nasa"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" >
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.angrave.hw21_webview.Roundball"
            android:label="@string/title_activity_three"
            android:taskAffinity="com.angrave.hw21_webview.Roundball"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" >
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.angrave.hw21_webview.Jabberwocky"
            android:label="@string/title_activity_four"
            android:taskAffinity="com.angrave.hw21_webview.Jabberwocky"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" >
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
